<!DOCTYPE html>
<html>

  <head>
    <title>Stock Quote Webpage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <h1>Stock Quote Webpage</h1>
    </header>
    <section>
      <form id="company-ticker-lookup" method="post" action="/api/companyname">
        <h3>Input Stock Symbol Here</h3>
        <input id="companyname" type="text" name="companyname" placeholder="Company Name" />
        <input type="submit" value="Submit" />
      </form>
    </section>


  </body>

</html>
